
@font-face {
    font-family: goose;
    src: url(./fonts/Cocogoose-Pro-Regular-trial.ttf);
}

body {
    margin: 0;
    background-color: lightpink;
}

.parent-div {
    display: flex;
    flex-direction: column; /* Align children vertically */
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

#cat {
    width: 185px;
    border-radius: 5px;
}

/* Optional styling for buttons */
button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-family: goose;
}

#ask {
    font-family: goose;
    color: red;
    font-size: 18px;
    margin-bottom: 0px;
}

#yes-button {
    background-color: lightgreen;
    color: white;
}

#no-button {
    background-color: rgb(255, 69, 69);
    color: white    ;
}
